body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
}
input,
textarea,
button {
    padding: 8px 12px;
    font-size: 1rem;
}

#login,
#quiz,
#guessing,
#scoreboard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
#nameInput {
    width: 70%;
}
#questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tooltiptext > * {
    white-space: nowrap;
}

.tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
